.ItemListContainer {
    padding: 20px;
    min-height: 80vh;
}

.ContainerTitle {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #e67e22;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 300;
}

.LoaderContainer {
    text-align: center;
    margin-top: 100px;
}

.LoaderText {
    color: #666;
    font-size: 1.5rem;
    margin-top: 20px;
}